<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ejemplo de Spring Boot con JasperReport</title>
</head>
<body>
<h1 >Ejemplo de Spring Boot con JasperReport</h1>
<p>
Esquema tradicional para la consulta
    <ul>
        <li><a href="/mvc/simple">Ejemplo de reporte Simple</a> </li>
        <li><a href="/mvc/conexion">Ejemplo de conexion a Base de Datos</a> </li>
        <li><a href="/mvc/parametros/100000">Ejemplo llamando parametros a conexión</a> </li>
        <li><a href="/mvc/jrdatasource">Ejemplo llamando JRDataSource</a> </li>
    </ul>
</p>

<p>
    Esquema REST para la consulta
<ul>
    <li><a href="/api/simple" >Ejemplo de reporte Simple</a> </li>
    <li><a href="/api/conexion">Ejemplo de conexion a Base de Datos</a> </li>
    <li><a href="/api/parametros/100000">Ejemplo llamando parametros a conexión</a> </li>
    <li><a href="/api/jrdatasource">Ejemplo llamando JRDataSource</a> </li>
</ul>
</p>
</body>
</html>